fieldset {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="checkbox"] {
  margin-right: 5px;
}
#submit {
    position: relative;
    margin-left: 140px;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 20px;
  border-color: #ff3d00;
  background-color:#c5a1a0
}
#comments {
 margin: 0 auto;
}
* {
  background-color:antiquewhite;
}
h1 {
  text-transform:uppercase;
}
h2 {
  font-size:700;

}
.form-page {
    width: 26%;
}